<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gospelcoding.versemem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="org.gospelcoding.versemem.QuizNotificationService"
            android:exported="false" />

        <activity
            android:name="org.gospelcoding.versemem.VerseListActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.gospelcoding.versemem.QuizActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_quiz"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:taskAffinity="" >
        </activity>
        <activity
            android:name="org.gospelcoding.versemem.NewVerseActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_new_verse" >
        </activity>
        <activity
            android:name="org.gospelcoding.versemem.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="org.gospelcoding.versemem.QuizResultActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_quiz_result" >
        </activity>
        <activity
            android:name="org.gospelcoding.versemem.VerseViewActivity"
            android:label="@string/title_activity_verse_view" >
        </activity>
        
        <receiver 
            android:name="org.gospelcoding.versemem.QuizMaster"
            android:enabled="true">
            <intent_filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent_filter>
        </receiver>
    </application>

</manifest>
